<style>
    #red .ui-slider-range { background: #ef2929; }
    #red .ui-slider-handle { border-color: #ef2929; }
    #green .ui-slider-range { background: #8ae234; }
    #green .ui-slider-handle { border-color: #8ae234; }
    #blue .ui-slider-range { background: #729fcf; }
    #blue .ui-slider-handle { border-color: #729fcf;
</style>

<div class="row">
    <div class="col-lg-6">
        <p>
            <button type="button" ng-click="showForm()" class="btn btn-lg btn-success"><span
                    class="glyphicon glyphicon-plus "></span>
                Добавить инвестора
            </button>
        </p>
    </div>
    <div class="col-lg-6">
        <div ng-show="newForm" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Форма создания нового инвестора</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Имя инвестора:</label>
                            <input type="text" class="form-control" ng-model="investor.name"
                                   placeholder="Введите имя">
                        </div>
                        <div class="form-group">
                            <label>Структуры:</label>
                            <input type="text" class="form-control" ng-model="investor.structs"
                                   placeholder="Введите структуры">
                        </div>
                        <div class="form-group">
                            <label>Объекты:</label>
                            <input type="text" class="form-control" ng-model="investor.objects"
                                   placeholder="Введите объекты">
                        </div>
                        <div class="form-group">
                            <label>Ресурсы:</label>
                            <input type="text" class="form-control" ng-model="investor.resources"
                                   placeholder="Введите ресурсы">
                        </div>

                        <div class="form-group">
                            <label>Порог Совпадения:</label>

                            {{investor.porog}}%
                            <div id="blue" ui-slider="colorpicker.options" ng-model="investor.porog" class="ng-valid ui-slider ui-widget ui-widget-content ui-corner-all ui-slider-horizontal ng-dirty" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a></div>

                        </div>

                        <button class="btn btn-primary" ng-click="saveInvestor()" type="button">Создать</button>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>

    <div ng-show="savedInvestor" class="col-lg-12">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Инвестор добавлен!</strong>
        </div>
    </div>
</div>
